name: Clean Workflow Logs

on:
  workflow_dispatch:
    inputs:
      runs_older_than:
        description: "Last X Days' Logs To Keep"
        default: "3"
        required: false
  schedule:
    - cron: "30 2 * * MON"  # https://crontab.guru

env:
  SCHEDULED_RUNS_OLDER_THAN: "5"

jobs:
  cleaner:
    runs-on: ubuntu-24.04
    permissions:
      actions: write
    steps:
      - uses: igorjs/gh-actions-clean-workflow@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          runs_older_than: ${{ github.event.inputs.runs_older_than || env.SCHEDULED_RUNS_OLDER_THAN }} # optional
